extends ../../_layouts/project

block vars
  - var pageData = getData('tompham');

block project-content
  +side-content({
    video: pageData.architecture.video,
    poster: pageData.architecture.video_poster,
    copy: pageData.architecture.copy,
    side: 'right'
  })
  +section-copy({copy: pageData.contact.copy})
  +wide-image({image: pageData.contact.image})
  +section-copy({copy: pageData.final.copy})
  +wide-image({image: pageData.reception.image})