extends ../../_layouts/project

block vars
  - var pageData = getData('betterfly');

block project-content
  +wide-image({image: pageData.video_chat.image})
  +section-copy({copy: pageData.video_chat.copy})
  +wide-image({image: pageData.search.image})
  +section-copy({copy: pageData.final.copy})
  +wide-image({image: pageData.final.image})
