extends ../../_layouts/project

block vars
  - var pageData = getData('morsel');

block project-content
  +device-background({
    image: pageData.single_page.image,
    copy: pageData.single_page.copy,
    title: pageData.single_page.title
  })
  +section-copy({copy: pageData.workflow.copy})
  +wide-image({image: pageData.workflow.image})
  +section-copy({copy: pageData.users.copy})
  +wide-image({image: pageData.users.image})
  +section-copy({copy: pageData.final.copy})
