extends ../../_layouts/project

block vars
  - var pageData = getData('explainyourfamily');

block project-content
  +wide-image({image: pageData.ideation.image})
  +section-copy({copy: pageData.ideation.copy})
  +side-content({
    image: pageData.value.image,
    copy: pageData.value.copy,
    side: 'right'
  })
  +section-copy({copy: pageData.tech.copy})
  +img-container({image: pageData.final.image}).container-sm
  +section-copy({copy: pageData.final.copy})
