extends ../../_layouts/project

block vars
  - var pageData = getData('whereischris');

block project-content
  +side-content({
    image: pageData.final.image,
    copy: pageData.final.copy,
    side: 'right'
  })
