.welcome {
  text-align: center;

  h1 {
    font-weight: $ultrabold;

    span {
      display: block;
      text-transform: uppercase;
      font-size: 1.2em;
      margin-top: $base-spacing/4;
    }
  }

  h2 {
    font-size: 3.5em;
  }
}