.lost {
  header {
    .mobile-menu {
      justify-content: center;

      .icon-menu {
        display: none;
      }
    }

    .main-menu {
      li:not(.cz-logo) {
        display: none;
      }
    }
  }
  .main {
    
    section {
      min-height: 100vh;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img {
      margin-top: 2em;
      width: 250px;
    }
  }
}