.project-page {
  .main {
    background-color: $white;

    section {
      padding: 3em 0;

      .container, .container-sm {
        @include pad();
      }
    }

    & > .container {
      text-align: center;
    }
  }

  .copy {
    font-size: $project-copy-size;
    line-height: $project-line-height;

    @include media($screen-medium-up) {
      @include span-columns(8);
      @include shift(2);
    }
  }

  .contact {
    padding-top: 6em;
  }

  &.project-tompham .intro-image {
    background-color: black;
  }

  &.project-morsel .device-background {
    background: #e96144;
  }

  &.project-tasting-collective .device-background {
    background: #444b52;
  }
}