mixin metadata(spec)
  -
    spec = spec || site.data.metadata.defaults

  each val, key in spec
    if typeof val === 'object'
      each v, k in val
        metadata(name=key+':'+k, content=v)
    else
      metadata(name=key, content=val)
