mixin aside-container(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.copy = Array.isArray(spec.copy) ? spec.copy : [spec.copy]

  section(class=spec.__class)&attributes(attributes)
    .container.aside-container.light-scheme
      if spec.side === 'right'
        +aside-container-main(spec.copy)
        +aside-container-aside()
          if block
            block
      else
        +aside-container-aside()
          if block
            block
        +aside-container-main(spec.copy)

mixin aside-container-aside()
  aside
    if block
      block

mixin aside-container-main(copy)
  .copy
    each c in copy
      p !{c}