.sprite {
  background-image: url(../images/sprite.png);
}
.sprite-bourbon {
  background-position: -0px -0px;
  width: 314px;
  height: 66px;
}
.sprite-angularjs {
  background-position: -0px -66px;
  width: 391px;
  height: 116px;
}