// Normalize Styles
@import "node_modules/normalize.css/normalize";

// Import libs
// why does `@import "bourbon"` not work here? something weird with gulp-sass paths...
@import "node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "base/grid-settings";
@import "node_modules/bourbon-neat/app/assets/stylesheets/_neat.scss";
@import "base/base";

// Import sprites
@import "sprites";

// Import vendor CSS
@import "node_modules/webui-popover/dist/jquery.webui-popover.min";

// Import Modules
@import "../_modules/**/*";

// Import pages
@import "pages/**/*";

// Import partials
@import "partials/**/*";


// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}