mixin img-container(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .img-container(class=spec.__class)&attributes(attributes)
    if spec.image
      img(src=spec.image)
    if block
      .image-wrapper
        block
