// link styles

// unvisited link
a:link {
  color: $dark-blue;
}

// visited link
a:visited {
  color: $dark-gray;
}

// mouse over link
a:hover {
  color: $bright-orange;
}

// selected link
a:active {
  color: $bright-orange;
}
