mixin project-header(spec)
  - spec = spec || {}
  - ind = site.data.projects.list.findIndex(p => p.id === spec.id)
  - prev = ind === 0 ? null : site.data.projects.list[ind - 1]
  - next = ind === site.data.projects.list.length - 1 ? null : site.data.projects.list[ind + 1]

  header.main-nav.small-nav: nav: .container
    ul
      li
        +link()(href='/#projects') Home
      if ~ind
        li
          +link()(href='/projects') All Projects
      if ~ind && prev && prev.url && !prev.disabled
        li
          +link()(href=prev.url) Prev
      if ~ind && next && next.url && !next.disabled
        li
          +link()(href=next.url) Next