@import "../../../node_modules/node-neat/node_modules/bourbon-neat/app/assets/stylesheets/_neat-helpers.scss"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;

// Neat Breakpoints
$screen-small: 480px;
$screen-medium: 720px;
$screen-large: 960px;

$screen-small-up: new-breakpoint(min-width $screen-small 4);
$screen-medium-up: new-breakpoint(min-width $screen-medium 4);
$screen-large-up: new-breakpoint(min-width $screen-large 8);

$screen-small-down: new-breakpoint(max-width ($screen-small - 1) 4);
$screen-medium-down: new-breakpoint(max-width ($screen-medium - 1) 4);
$screen-large-down: new-breakpoint(max-width ($screen-large - 1) 4);