@mixin white-link() {
  color: $white;
  @include text-shadow()

  &:active,
  &:focus,
  &:hover {
    color: $bright-orange;
  }
}

@mixin orange-link() {
  color: $bright-orange;

  &:active,
  &:focus,
  &:hover {
    color: $dark-blue;
  }
}

@mixin uppercase-link() {
  @include white-link();
  text-transform: uppercase;
  font-weight: $ultrabold;
  letter-spacing: .5px;
}

@mixin light-scheme-link() {
  color: $bright-blue;

  &:active,
  &:focus,
  &:hover {
    color: $bright-orange;
  }
}

@mixin shadow($hover: false, $d: 4px) {
  box-shadow: $d $d 0 0 rgba($dark-gray, .5);

  @if($hover) {
    &:focus, &:hover {
      box-shadow: $d*2 $d*2 0 0 rgba($dark-gray, .5);
    }
  }
}

@mixin text-shadow($hover: false, $d: 1px) {
  text-shadow: $d $d 0 rgba($dark-gray, .5);

  @if($hover) {
    &:focus, &:hover {
      text-shadow: $d*2 $d*2 0 rgba($dark-gray, .5);
    }
  }
}
