@mixin white-link() {
  color: $white;

  &:hover {
    color: $bright-orange;
  }
}

@mixin orange-link() {
  color: $bright-orange;

  &:hover {
    color: $dark-blue;
  }
}

@mixin shadow() {
  box-shadow: 4px 4px 0 2px rgba($dark-gray, .5);

  &:focus, &:hover {
    box-shadow: 6px 6px 0 2px rgba($dark-gray, .5);
  }
}