table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid shade($base-border-color, 25%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: $small-spacing $small-spacing $small-spacing 0;
  vertical-align: top;
  font-size: .85em;
}

tr,
th {
  vertical-align: middle;
}

tr {
  &:last-child {
    td {
      border-bottom: none;
    }
  }
}
