// Colors
$bright-blue: #29B6F6;
$dark-blue: #0288D1;
$white: #fff;
$dark-gray: #616161;
$medium-gray: #78909C;
$light-gray: #ddd;
$bright-orange: #FF5722;

// Font weights
$normal: 400;
$bold: 700;
$ultrabold: 900;

// Typography
$base-font-family: 'Lato', 'Arial', sans-serif;
$heading-font-family: $base-font-family;
$heading-font-weight: $bold;

// Font Sizes
$base-font-size: 1em;
$mobile-font-size: 14px;

// Font Colors
$base-font-color: $white;
$action-color: $dark-blue;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 4px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Header
$header-height: 80px;
$header-mobile-height: 40px;
$cz-logo-height: 60px;
$cz-logo-mobile-height: 30px;
