// Colors
$bright-blue: #29B6F6;
$dark-blue: #0288D1;
$white: #fff;
$dark-gray: #424242;
$medium-gray: #78909C;
$light-gray: #E9E9E9;
// $bright-orange: #FF5722;
$bright-orange: #FB9170;
$black: #000;

// Font weights
$normal: 400;
$bold: 700;
$ultrabold: 900;

// Typography
$base-font-family: 'Lato', 'Arial', sans-serif;
$heading-font-family: $base-font-family;
$heading-font-weight: $bold;

// Font Sizes
$base-font-size: 1em;
$mobile-font-size: 14px;
$project-copy-size: 1.15em;

// Font Colors
$base-font-color: $white;
$action-color: $dark-gray;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;
$project-line-height: 2em;

// Other Sizes
$base-border-radius: 4px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Header
$header-height: 80px;
$header-mobile-height: 40px;
$cz-logo-height: 60px;
$cz-logo-mobile-height: 30px;

// Social colors
$socialPalette: 
  instagram #3f729b,
  linkedin #0077B5,
  github #333,
  angellist #222,
  twitter #55acee,
  dribbble #ea4c89;

// Scroll classes
$scrollWindowTop: '.scroll-window-top';
$scrollWindowBottom: '.scroll-window-bottom';

$intro-image-gradient: linear-gradient(rgba($dark-gray, 0) 0%, rgba($dark-gray, 0) 55%, rgba($dark-gray, .2) 90%, rgba($dark-gray, .8) 100%);
