extends ../../_layouts/project

block vars
  - var pageData = getData('funerals360');

block project-content
  +video-wrapper({
    video: pageData.search.video,
    poster: pageData.search.video_poster
  })
  +section-copy({copy: pageData.search.copy})
  +side-content({
    image: pageData.tech.image,
    copy: pageData.tech.copy,
    side: 'right'
  })
  //- +dual-images({
  //-   images: pageData.tech.images,
  //-   copy: pageData.tech.copy
  //- })
  +section-copy({copy: pageData.final.copy})
