extends ../../_layouts/project

block vars
  - var pageData = getData('tastingcollective');

block project-content
  +wide-image({image: pageData.stack.image})
  +section-copy({copy: pageData.stack.copy})
  +device-background({
    image: pageData.single_page.image,
    copy: pageData.single_page.copy,
    title: pageData.single_page.title
  })
  +section-copy({copy: pageData.event_detail.copy})
  +wide-image({image: pageData.event_detail.image})
  +section-copy({copy: pageData.final.copy})
  +wide-image({image: pageData.final.image})
