.main-nav {
  position: fixed;
  background: $bright-blue;
  width: 100%;
  top: 0;
  z-index: 10;
  height: $header-mobile-height;

  a {
    @include white-link();
    text-transform: uppercase;
    font-weight: $ultrabold;
    letter-spacing: .5px;
    display: block;
  }

  nav {
    width: 100%;
  }
}

.default-nav {
  .cz-logo-mobile {
    height: $cz-logo-mobile-height;
    display: inline-block;

    img {
      height: $cz-logo-mobile-height;
    }
  }

  .cz-logo {
    display: none;
  }

  .main-menu {
    display: none;
  }

  .icon-menu {
    line-height: $cz-logo-mobile-height;
    font-size: $cz-logo-mobile-height;
  }

  @include media($screen-medium-down) {
    .mobile-menu {
      height: $header-mobile-height;
      @include display(flex);
      @include flex-direction(row);
      @include justify-content(space-between);
      @include align-items(center);
    }

    li a {
      padding: 1.5em 0;
      text-align: center;
      font-size: 1.3em;
    }
  }

  @include media($screen-medium-up) {
    height: $header-height;
    //border-bottom: 1px solid $white;

    .mobile-menu {
      display: none;
    }

    .main-menu, .cz-logo {
      display: block !important;
    }

    ul {
      @include display(flex);
      @include flex-direction(row);
      @include justify-content(space-around);
      @include align-items(center);
    }

    li a {
      line-height: $header-height;
    }

    .cz-logo {
      a {
        height: $cz-logo-height;
      }

      img {
        height: $cz-logo-height;
      }
    }
  }
}

.resume-nav {
  ul {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(flex-end);

    li:first-child {
      margin-right: auto;
    }
  }

  a {
    line-height: $header-mobile-height;
    padding: 0 .5em;
    margin: 0 .5em;
  }
}