.side-content {
  $copy-size: $project-copy-size;
  $copy-line-height: $project-line-height;

  .container {
    background: $light-gray;
    display: flex;
    flex-direction: column;

    @include media($screen-medium-up) {
      flex-direction: row;
    }
  }

  .images-wrapper {
    background-size: cover;
    border-bottom: $medium-gray;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($screen-medium-up) {
      @include span-columns(4);
      background-position: bottom;
      background-size: cover;
      border-right: $medium-gray;
    }
  }

  .video-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;

    @include media($screen-medium-up) {
      @include span-columns(5);
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .image-wrapper {
    overflow: hidden;
    text-align: center;

    img {
      margin: 0 auto;
    }

    @include media($screen-medium-up) {
      @include span-columns(5);
      background: $white;

      img {
        display: block;
      }
    }
  }

  .side-content-copy {
    color: $dark-gray;
    font-size: $copy-size;
    line-height: $copy-line-height;
    @include pad();

    @include media($screen-medium-up) {
      @include span-columns(7);
    }

    p {
      color: $dark-gray;
    }

    h1 {
      margin-bottom: 0.9em;
    }

    h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase;
    }

    a {
      @include light-scheme-link();
    }
  }

  video {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}