extends _layouts/base

include _modules/link/link

block content
  section#welcome.container
    h1 CZ.com
  section#expertise.container
    h2 Expertise
  section#examples.container
    h2 Examples
  section#resume.container
    h2 Resume