block vars
  - var bodyClass = 'homepage';

extends _layouts/base

include _modules/link/link


block content
  section#welcome.welcome.container
    h1 Hi, my name is #[span Chris Zamierowski.]
    h2 I'm a developer.
  section#expertise.container
    h2 Expertise
  section#examples.container
    h2 Examples
  section#resume.container
    h2 Resume