section#contact.contact.container
  h2 Let's work together
  h3: a(href='mailto:cz@chriszamierowski.com') cz@chriszamierowski.com
  .social-links: ul
    each s in site.data.social.links
      li
        a(class='social-#{s.class}', href=s.link, target='_blank')
          i(class='icon-#{s.class}')
          span.sr-only= s.name