nav#main-nav: .container
  ul
    li #[+link({text: 'Expertise'})(href='/#expertise')]
    li #[+link({text: 'Examples'})(href='/#examples')]
    li #[+link({text: 'Resume'})(href='/#resume')]
    li #[+link({text: 'Contact'})(href='#contact')]